# Developer-specific configuration
#
# Copy this to .bazelrc.local and adjust.

# Choose a compiler. No --config needed for msvc.
# build --config gcc
# build --config clang

# Other interesting build options.
# build --config asan
