# Developer-specific configuration
#
# Copy this to .bazelrc.local and adjust.

# Choose a compiler.
build --config gnulike # gcc/clang
# build --config msvc

# Other interesting build options.
# build --config asan
